form.post_form {
    margin: 0 auto;
    width: 320px;
    display: block;
}

input {
    margin-bottom: 5px;
    width: 300px;
    height: 23px;
}

textarea {
    resize: none;
    width: 300px;
    height: 150px;
    border-color: #fff;
}

/* importantはダークモードが適切に実装できたら消す */

fieldset {
    border-color: rgba(50, 50, 50, 0.5) !important;
}

.css-1c99szj-MuiRating-icon { 
    color: rgb(70, 70, 70) !important;
}